<ion-header>
  <ion-toolbar color="danger">
    
    <ion-title style="text-align: center;">Login to Best Book </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="vertical-space">
      <h1 class="center">Best Book</h1>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="xyz@abc.com" [(ngModel)]="email"></ion-input>
    </ion-item> 
    <ion-item style="margin-top:20px">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger"  shape="round" (click)="login()" style="margin-top:20px">Login</ion-button>
  <ion-button expand="block" fill="clear" color="danger"  shape="round" (click)="gotoSingup()" style="margin-top:10px; font-size:12px;">Don't Have and Accoutn? Create one.</ion-button>
</ion-content>


 <!--footer-->
 <ion-footer style="height: 40px;">
    <ion-toolbar color="danger">
      <ion-title style="text-align: center; font-size:12px">
        compyright&copy; 2019.
      </ion-title>
    </ion-toolbar>
  </ion-footer>