<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">Add Your Book</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-list class="vertical-space">
    <ion-item>
      <ion-label position="stacked">Product Title:</ion-label>
      <ion-input type="text"  name ="productTitle" [(ngModel)]="productTitle"  required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Owner:</ion-label>
        <ion-input type="text" name="productAuthor" [(ngModel)]="productOwner" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Product Quantity:</ion-label>
          <ion-input type="text" name="productIN" [(ngModel)]="productIbn" required></ion-input>
        </ion-item>

    
    <ion-item>
        <ion-label position="stacked">Description:</ion-label>
        <ion-input type="text" name="productDescription" [(ngModel)]="productDescription" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Expiry Date:</ion-label>
          <ion-input type="text" name="productEdition" [(ngModel)]="productEdition" required></ion-input>
        </ion-item>
     
      <ion-item>
          <ion-label position="stacked">Manifacturing Date:</ion-label>
          <ion-datetime min="1900" display-format="MM/DD/YYYY" name="productDate" [(ngModel)]="productDate" required></ion-datetime>
        </ion-item>
        
  </ion-list>

  <ion-button expand="block" shape="round" color="danger" (click)="addbook()">Add Product</ion-button>

</ion-content>


 <!--footer-->
 <ion-footer style="height: 40px;">
    <ion-toolbar color="danger">
      <ion-title style="text-align: center; font-size:12px">
        compyright&copy; 2019.
      </ion-title>
    </ion-toolbar>
  </ion-footer>
