.vertical-space{
    margin-bottom: 70px;
    margin-top: 40px;
    --inner-border-width: 0px;
}

// import { Component, OnInit } from '@angular/core';
// import{ToastController,NavController,AlertController,LoadingController} from '@ionic/angular';
// import { DataService } from '../services/data.service';
// import {FormGroup, FormBuilder, FormControl, Validators } from '@angular/forms';
// import * as firebase from 'firebase';

// @Component({
//   selector: 'app-add-book',
//   templateUrl: './add-book.page.html',
//   styleUrls: ['./add-book.page.scss'],
// })
// export class AddBookPage implements OnInit {
 
//    productTitle:string="";
//    productDescription:string;
//    productDate:string;
//    productOwner:string;
//    productIbn:any;
//    productEdition:any;
//    bokService=new DataService();
//    product:any;

//   constructor(private navCtrl:NavController,private toastCtrl:ToastController,private loadingCtrl:LoadingController) { 
//     this.productOwner=firebase.auth().currentUser.uid;
//   }

  
  
//   ngOnInit() {
//   }



//      //loading controller

//      async loading(){

//       let loading=await this.loadingCtrl.create({
//         message:"loading...",
//         duration:2000,
//         showBackdrop:false,
//         // spinner:"dots"
//         spinner:"bubbles"
//         // spinner:"circles"
//         // spinner:"crescent"
//           //  spinner:"circular"
      
//       })
//       loading.present();
//     }


//   addbook(){

//     this.loading();
    
//     // alert('kdfjdlkfj');
//     alert(this.productOwner);

//     //store this offline
    
    
//     this.product={
//       name:this.productTitle,
//       author:this.productOwner,
//       ibn:this.productIbn,
//       description:this.productDescription,
//       version:this.productEdition,
//       date:new Date(this.productDate),
//       }
//       console.log(this.product);
      
//       this.bokService.productsService.push(this.product);
    


   



//     //store this online

//     firebase.firestore().collection("products").add({
//       title:this.productTitle,
//       owner:this.productOwner,
//       ibn:this.productIbn,
//       productedition:this.productEdition,
//       description:this.productDescription,
//       date:new Date(this.productDate),
//       created:firebase.firestore.FieldValue.serverTimestamp()
      
//     }).then((docRef)=>{
//       this.toastCtrl.create({
//         message:"Book has been added!",
//         duration:3000
//       }).then((toast)=>{
//         toast.present();
//         this.navCtrl.navigateBack(['app-list']);

//       })
//     }).catch((err)=>{
//       this.toastCtrl.create({
//         message:err.message,
//         duration:3000
//       }).then((toast)=>{
//         toast.present();
        
//       })

//     })

//     this.toast();

//     this.navCtrl.navigateForward(['/app-list']);


   

//   }

//   async toast(){

//     let toasting=await this.toastCtrl.create({
//       message:"Your book has been added to the list!",
//       duration:2000,
//       color:"light",
//       showCloseButton:true,
//       closeButtonText:"Close",
//       position:"bottom"
//     })
//     toasting.present();
//   }



// }
