<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Product detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="product" color="danger">
   
        <ion-card-header>
          
          <ion-card-title><h1 style="text-align: center;">{{product.name}}</h1></ion-card-title>
          
          <ion-card-subtitle style="text-align: center; padding:0px">
              
              <h6>Price:450RS</h6>
              <h6>Size:</h6><span>{{product.ibn}}45</span>
              <h6>Color:</h6><span>{{product.version}}Red</span>
              <h6>Date:</h6><span>{{product.date}}</span>
          </ion-card-subtitle>
      </ion-card-header>
        <ion-card-content>
          <h6>Description:</h6>
          <p>{{product.description}}</p>

        </ion-card-content>
    
</ion-card>

